main {
    max-width: 970px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding-inline: 15px;
}

.container {
    margin-inline: auto;
    background-color: var(--cont-bg);
    padding-left: 305px;
    padding-right: 105px;
}

@media screen and (max-width: 1115px) {
    .container {
        padding-left: 85px;
    }

}