.recommendations{
    font-family: var(--font-family);
    &__main-container{
        margin-top: 70px;
        margin-bottom: 70px;
        max-width: 970px;
        @include tablet-small{
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
    &__main-title{
        font-weight: 700;
        font-size: 32px;
        line-height: 124%;
        text-transform: capitalize;
        color: var(--main-txt);
        margin-bottom: 25px;
        text-align: center;
        @include tablet-small{
            font-size: 25px;
        }
    }
    &__main-desc{
        display: flex;
        justify-content: center;
    }
    &__description{
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-transform: capitalize;
        text-align: center;
        color: var(--secondary-txt);
        max-width: 438px;
        margin-bottom: 50px;
        @include tablet-small{
            font-size: 12px;
            margin-bottom: 30px;
        }
    }
    &__container{
        display: flex;
        justify-content: center;
        gap: 27px;
        @include desktop-small{
            display: grid;
            grid-template-columns: auto auto;
        }
        @include tablet{
            display: grid;
            grid-template-columns: auto;
        }
    }
    &__block{
        max-width: 310px;
        background: var(--main-bg);
        padding: 25px 23px 25px 25px;
        margin-bottom: 50px;
        @include tablet-small{
            margin-bottom: 20px;
            padding: 10px;
        }
    }
    &__stars{
        max-width: 130px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 16.63px;
    }
    &__block-title{
        font-weight: 500;
        font-size: 18px;
        line-height: 124%;
        text-transform: capitalize;
        color: var(--main-txt);
        margin-bottom: 18px;
        @include tablet-small{
            font-size: 16px;
        }
    }
    &__block-desc{
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-transform: capitalize;
        color: var(--secondary-txt);
        margin-bottom: 30px;
        @include tablet-small{
            font-size: 12px;
        }
    }
    &__character{
        display: flex;
        justify-content: start;
        gap: 13px;
        align-items: center;
    }
    &__character-name{
        font-weight: 500;
        font-size: 18px;
        line-height: 124%;
        text-transform: capitalize;
        color: var(--main-txt);
        margin-bottom: 5px;
    }
    &__character-profession{
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        text-transform: capitalize;
        color: var(--secondary-txt);
        @include tablet-small{
            font-size: 12px;
        }
    }
    &__footer{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: var(--highlight);
    }
}