html {
	scroll-behavior: smooth;
	font-size: 1px;
	@include tablet{
		font-size: 0.8px;
	}
	@include mobile{
		font-size: 0.7px;
	}
}

html,body {
	height: 100%;
}
body {
	font-size: 16rem;
}

#root {
	height: 100%;
}
